body {
  margin: 0%;
}

html {
  height: 100%;
  width: 100%;
  background-color: #ff555d;
}

.header {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  padding: 1rem;
  color: white;
}

.footer {
  position: absolute;
  bottom: 4px;
  font-size: 12px;
  margin: 0 auto 0 auto;
  margin-left: 45%;
}

a:visited,
a:link,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

ul {
  position: absolute;
  left: 50%;
  display: inline-flex;
}

li {
  font-size: 24px;
  list-style: none;
  display: inline;
  padding: 1rem;
}

li:hover {
  text-shadow: 1.5px 1px rgba(100, 124, 201, 0.466);
}

.button-container {
  margin-top: 8%;
  text-align: center;
}

.service-card-1 {
  display: inline-block;
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
  height: 30rem;
  width: 22rem;
  border-radius: 50px;
  background: #ff555d;
  box-shadow: 20px 20px 60px #a6373c, -20px -20px 60px #ff737e;
}

.service-card-2 {
  display: inline-block;
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
  height: 30rem;
  width: 22rem;
  border-radius: 50px;
  background: #ff555d;
  box-shadow: 20px -20px 60px #a6373c, -20px 20px 60px #ff737e;
}

.service-card-btn {
  margin-top: 110%;
  height: 3rem;
  width: 15rem;
  border-radius: 50px;
  border: none;
  font-size: 1em;
  font-weight: 600;
  color: gray;
  border-radius: 50px;
}

.service-card-btn:hover {
  cursor: pointer;
  /* box-shadow: none; */
}

.paper-contract {
  display: inline-block;
  position: relative;
  background-color: white;
  height: 85vh;
  width: 40vw;
  border-radius: 2px;
}
